<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      
      <add name="attendance" connectionString="Data Source=DESKTOP-G9JJ980;Initial Catalog=Attendance_MGS;User ID=sa;Password=sql"
          providerName="System.Data.SqlClient" />
      <add name="attendance" connectionString="Data Source=ijpc\sqlexpress;Initial Catalog=AttendanceSystemDB;Integrated Security=True"
            providerName="IJPC\SQLEXPRESS" />
        <add name="Attendance_management_system.Properties.Settings.AttendanceSystemDBConnectionString"
            connectionString="Data Source=ijpc\sqlexpress;Initial Catalog=AttendanceSystemDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Attendance_management_system.Properties.Settings.attendanceDBConnectionString"
            connectionString="Data Source=IJPC\SQLEXPRESS;Initial Catalog=attendanceDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Attendance_management_system.Properties.Settings.Attendance_management_systemConnectionString"
            connectionString="Data Source=IJPC\SQLEXPRESS;Initial Catalog=Attendance_management_system;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>